<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-2">
      <h1 class="blog_h1">AlphaBlog</h1>
    </div>
  </div>

  <div class="row">
    <div class="center jumbotron col-md-12 col-md-offset-2">
      <div class="homepage_image">
        <%= image_tag("blog.jpeg", :alt => "BLOG") %>
      </div>
      <% if !logged_in? %>
        <div class="center">
          <%= link_to 'Sign up', signup_path, class: "btn btn-primary btn-xlarge" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
